<!DOCTYPE html>
<html>
  <head>
    <title>DASHBOARD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="col-sm-6 coL-xs-12">
          <div class="menu-left navbar-left"">
            <a href=""><img src="/img/loginlogo.png"/></a>
          </div>
        </div>
        <div class="col-sm-6 coL-xs-12">
          <div class="logout-button">
            <a class="btn-warning">Admin</a>
          </div>
        </div>
      </div>
      <!-- /.navbar-collapse -->

    </nav>

    <div class="dashboard">
        <div class="dashboard-left-col">

          <div class="user-info">
            <div class="avatar" style="background-image: url('/img/avatar.png');"></div>
            <label class="user-name">Razen Chris Marlng</label>
            <a href="/logout/{{user}}" class="dashboard-logout">Logout</a>
          </div>

          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
          <div class="dashboard-header">
            <ul class="breadcrumbs">
              <li><a href="">Dashboard</a></li>
            </ul>
          </div>
        <div class="dashboard-right-col">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>