.login-wrap{
	background: #f9fafc;
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
}
.login{
	max-width: 400px;
    border: 1px solid #eaeaea;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 2px 4px #b9b9b9;
    padding: 40px 30px;
}
.login img{
	display: block;
    max-width: 200px;
    margin: 0 auto 20px;
}
.login .form-control{
	border-radius: 0;
    padding-left: 36px;
}
.login .form-group{
    position: relative;
}
.login .form-group .fa.fa-user-circle{
    font-size: 18px;
    line-height: 36px;
    left: 10px;
    position: absolute;
    top: 0;
    color: rgba(39, 39, 39, 0.4);
    transition: all .3s ease-in-out;
}
.login .form-group .fa.fa-unlock-alt{
    font-size: 18px;
    line-height: 36px;
    left: 10px;
    position: absolute;
    top: 0;
    color: rgba(39, 39, 39, 0.4);
    transition: all .3s ease-in-out;
}
.login .form-group .form-control:focus ~ i{
    color: #66afe9;
}
.login .form-group .form-control.error:focus ~ i{
    color: #D71818;
}
.login .form-group .form-control.error:focus{
    -webkit-box-shadow: 0px 0px 4px #D71818;
    -khtml-box-shadow: 0px 0px 4px #D71818;
    -moz-box-shadow: 0px 0px 4px #D71818;
    -ms-box-shadow: 0px 0px 4px #D71818;
    -o-box-shadow: 0px 0px 4px #D71818;
    box-shadow: 0px 0px 4px #D71818;
    border: 1px solid #D71818;
}
.messagebox{
    display: block;
    box-sizing: border-box;
    margin-top: 20px
}

.messagebox .alert{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.navbar{
	margin-bottom: 0;
	height: 80px;
	box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.5);
}
.menu-left{
	height: 80px;
}
.menu-left a img{
	display: block;
	max-width: 200px;
	margin: 0 auto 20px;
}
.loggedinas-button{
	width: 50%;
	float: left;
    margin-top: 30px;
    display: inline-block;
}
.logout-button{
	width: 300px;
	float: right;
    margin-top: 30px;
    margin-right: -180px;
    display: inline-block;
}
.logout-button a{
	text-decoration: none;
}
.logout-button .btn-warning{
    color: #fed231;
    background-color: #f8f8f8;
    border-color: #fed231;
    border: 1px solid #fed231;
    padding: 10px 30px;
    text-transform: uppercase;
    box-shadow: 0 0.125rem 0.0625rem rgba(0,0,0,.25);
    border-radius: 10px
}
.loggedinas-button .btn-warning,{
	margin-right: 110px;
}
.login .btn {
    display: block;
    width: 100%;
    border-radius: 0;
}
.dashboard-left-col{
    color: #fff;
    background: #263238;
    height: 100vh;
	width: 230px;
	position: absolute;
	left: 0;
	padding: 50px 15px 20px;
    text-transform: capitalize;
    font-weight: 300;
    text-align: center;
}
.dashboard-left-col .avatar{
    width: 100px;
    height: 100px;
    margin: -20px auto 20px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}
.dashboard-left-col .dashboard-logout {
    border: 1px solid #fff;
    padding: 6px 14px;
    display: block;
    border-radius: 3px;
    font-size: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
    color: #ffffff;
    text-decoration: none;
    max-width: 100px;
    margin: auto;
}
.dashboard-left-col .dashboard-logout:hover{
    background-color: #ffffff;
    color: #263238;
}
.dashboard-right-col{
    height: 100vh;
    padding: 70px 15px 20px;
    position: relative;
    margin-top: -50px
}
.container-fluid{
	margin-left: 15px;
	margin-right: 15px;
}
.dashboard{
	padding-left: 230px;
	position: relative;
}
.dashboard-header {
    font-size: 20px;
    color: #272727;
    padding: 10px 0;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    text-transform: capitalize;
}
.dashboard-header .breadcrumbs {
    border-bottom: 0; 
    padding: 0;
    margin-bottom: 0;
}
.dashboard-header .breadcrumbs li{
    padding: 0;
}
.dashboard-header .breadcrumbs li a {
    text-decoration: none;
    color: rgba(39,39,39,.7);
    display: block;
    transition: all .2s ease-in-out;
    padding: 0 10px;
}
.dashboard-header .breadcrumbs li:after{
    content: "/";
    position: absolute;
    font-family: icomoon!important;
    color: rgba(39,39,39,.7);
    font-size: 22px;
    top: -5px;
    right: -6px;
}
.dashboard-header .breadcrumbs li.active a{
    color: #272727
}
.dashboard-left-col ul{
	padding: 0;
	margin-top: 30px;
}
.dashboard-left-col ul li{
	list-style: none;
}
.dashboard-left-col ul li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: #ffffff;
}
.dashboard-left-col ul li a:hover{
    background-color:  #f8f8f8;
    color: #263238;
}
@media (max-width: 768px){
	.dashboard{
		padding: 0;
	}
	.dashboard-left-col{
		position: static;
		width: 100%;
		height: auto;
	}
/*	.dashboard-left-col ul{
		display: none;
	}*/
}