.login-wrap{
	background: #f9fafc;
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
}
.login{
	max-width: 400px;
    border: 1px solid #eaeaea;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 2px 4px #b9b9b9;
    padding: 40px 30px;
}
.login img{
	display: block;
    max-width: 200px;
    margin: 0 auto 20px;
}
.login .form-control{
	border-radius: 0;
}
.messagebox{
    display: block;
    box-sizing: border-box;
    margin-top: 20px
}

.messagebox .alert{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.navbar{
	margin-bottom: 0;
	height: 80px;
	box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.5);
}
.menu-left{
	height: 80px;
}
.menu-left a img{
	display: block;
	max-width: 200px;
	margin: 0 auto 20px;
}
.loggedinas-button{
	width: 50%;
	float: left;
    margin-top: 30px;
}
.logout-button{
	width: 50%;
	float: left;
    margin-top: 30px;
}
.loggedinas-button .btn-warning,
.logout-button .btn-warning{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    padding: 10px 30px;
    text-transform: uppercase;
    background: #fed231;
    color: #272727;
    border: 0;
    box-shadow: 0 0.125rem 0.0625rem rgba(0,0,0,.25);
    border-radius: 10px;
}
.loggedinas-button .btn-warning,{
	margin-right: 110px;
}
.login .btn {
    display: block;
    width: 100%;
    border-radius: 0;
}
.dashboard-left-col{
    color: #fff;
    background: #263238;
    height: 100vh;
	width: 230px;
	position: absolute;
	left: 0;
	padding: 50px 15px 20px;
}
.dashboard-right-col{
	height: 100vh;
	padding: 50px 15px 20px;
}
.container-fluid{
	margin-left: 15px;
	margin-right: 15px;
}
.dashboard{
	padding-left: 230px;
	position: relative;
}
.dashboard-header{
	font-size: 14px;
	color: #272727;
	padding: 10px 0;
	font-weight: 400;
	border-bottom: 1px solid #ddd;
	text-transform: capitalize;
}
.breadcrumbs {
    padding: 0;
}
.breadcrumbs ul, .dashboard-left-col ul{
	padding: 0;
}
.breadcrumbs ul li{
	list-style: none;
	display: inline-block;
	position: relative;
}
.breadcrumbs ul li:before{
	content: "/";
	position: absolute;
	right: 0;
	display: block;
}
.breadcrumbs ul li:last-of-type:before{
	display: none;
}
.breadcrumbs a{
	text-decoration: none;
	padding: 0 15px;
}
.dashboard-left-col ul li{
	list-style: none;
}
.dashboard-left-col ul li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: #ffffff;
}
@media (max-width: 768px){
	.dashboard{
		padding: 0;
	}
	.dashboard-left-col{
		position: static;
		width: 100%;
		height: auto;
	}
/*	.dashboard-left-col ul{
		display: none;
	}*/
}